* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
    color: white;
}

a{
    text-decoration: none;
    color: white;
    outline: none;
    border: none;
}

html html {
    width: 50%;
}

:root{
    --bgd: rgb(19, 19, 19);
}

.bgd-container{
    background: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;
    height: 125vh;
    overflow: hidden;
}

.main-container{
    width: 50%;
    height: 77%;
    margin: 0 auto;
    padding-top: 40px;
    overflow: auto;
    scrollbar-width: none;
}

::-webkit-scrollbar{
    width: 0px;
    background: transparent;
}

::-moz-scrollbar{
    width: 0px;
    background: transparent;
}

/* Header */

.logo-responsive{
    display: none;
}

.logo{
    background: url(../images/LogoFull.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    width: 335px;
    height: 145px;
    margin: 0 auto;
    padding-top: 20px;
}

.providing{
    color: white;
    font-size: 24px;
    font-weight: 300;
    text-align: center;
    margin: 40px auto;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 27%;
}

.header-flex div div{
    font-size: 20px;
}

.btcCounter img{
    height: 80px;
}

.ethCounter img{
    height: 100px;
}

.btcashCounter img{
    width: 120px;
}

.rippleCounter img{
    height: 75px;
}

.header-flex-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 140px;
}

/* GRID */

.grid-firstItem {
    width: 100vw;
}

.grid-container{
    margin-top: 40px;
}

.grid-holder{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.grid-holder + .grid-holder {
    margin-top: 50px;
}

/* .cloudBet{
    background: url(../images/cloud-bet.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    width: 35%;
    height: 150px;
}

.cloud-right{
    width: 65%;
    height: 150px;
    background: rgba(74, 76, 80, 1);
} */

#cloudBetLink{
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    height: 100px;
}

#cloudBetLink iframe{
    margin: 0 auto;
}

.item{
    background: rgb(74, 76, 80);
    width: 30%;
    height: 170px;
    border: 4px solid rgb(52, 52, 52);
}

.logo1{
    background: url(../images/logo1.png);
}

.logo2{
    background: url(../images/logo2.png);
}

.logo3{
    background: url(../images/logo3.png);
}

.logo4{
    background: url(../images/logo4.png);
}

.logo5{
    background: url(../images/logo5.png);
}

.logo6{
    background: url(../images/logo6.png);
}

.logo7{
    background: url(../images/logo7.png);
}

.logo8{
    background: url(../images/logo8.png);
}

.logo9{
    background: url(../images/logo9.png);
}

.item-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.item-black{
    background: #131313;
    height: 30%;
    width: 100%;
    border: 4px solid rgb(52, 52, 52);
    border-left: none;
    border-right: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-spinNow{
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1680px){
    .bgd-container{

        background-repeat: no-repeat;
        background-position-x: center;
        width: 100vw;
        height: 125vh;
    }
}

@media (max-width: 1170px){
    .bgd-container{
        background-size: 155% 100%;
    }
}

@media (max-width: 1800px){
    .main-container{
        width: 55%;
    }
}

@media (max-width: 1580px){
    .main-container{
        width: 65%;
    }
}

@media (max-width: 1300px){
    .main-container{
        width: 75%;
    }
}

@media (max-width: 1140px){
    .main-container{
        width: 85%;
    }
}

@media (max-width: 1000px){
    .main-container{
        width: 90%;
    }
    .logo{
        width: 290px;
        height: 125px;
    }
    .header-flex-item{
        height: 120px;
    }
    .header-flex div div{
        font-size: 18px;
    }

    .btcCounter img{
        height: 70px;
    }

    .ethCounter img{
        height: 90px;
    }

    .btcashCounter img{
        width: 110px;
    }

    .rippleCounter img{
        height: 65px;
    }
}

@media (max-width: 900px){
    .providing{
        font-size: 20px;
    }
}

@media (max-width: 830px){
    .main-container{
        width: 90%;
    }
    #cloudBetLink{
        display: none;
    }
    .header-flex{
        flex-direction: column;
    }
    .logo{
        width: 350px;
        height: 150px;
        padding-top: 0;
    }
    .header-flex-item{
        height: 120px;
    }
    .header-flex div div{
        font-size: 16px;
    }
    .btcCounter img{
        height: 60px;
    }

    .ethCounter img{
        height: 80px;
    }

    .btcashCounter img{
        width: 100px;
    }

    .rippleCounter img{
        height: 55px;
    }
    .btcCounter{
        padding-top: 10px;
    }
    .btcashCounter{
        margin-bottom: 10px;
    }
    .rippleCounter{
        padding-bottom: 10px;
    }
}

@media (max-width: 730px){
    .logo{
        width: 300px;
        height: 125px;
        background-size: 100% 100%;
    }
    .providing{
        font-size: 16px;
    }
}

@media (max-width: 650px){
    .grid-holder{
        flex-direction: column;
    }
    .item{
        width: 60%;
    }
    .item + .item{
        margin-top: 30px;
    }
}

@media(max-width: 585px){
    .providing{
        font-size: 14px;
    }
}

@media(max-width: 500px){
    .logo-responsive{
        display: block;
        background: url(../images/LogoFull.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100% 100%;
        width: 320px;
        height: 130px;
        margin: 60px auto;
        margin-bottom: 30px;
    }
    header{
        justify-content: space-between;
        width: 60%;
        margin: 0 auto;
    }
    .logo{
        display: none;
    }
    .btcCounter{
        padding-top: 5px;
    }
    .btcashCounter{
        margin-bottom: 0px;
    }
    .rippleCounter{
        padding-top: 15px;
        padding-bottom: 0px;
    }
}

@media(max-width: 500px){
    .providing{
        font-size: 13px;
    }
}

@media(max-width: 360px){
    .logo-responsive{
        width: 260px;
        height: 100px;
    }
}